

.container {
    display: grid;
    grid-template-columns: 5fr 4fr 3fr;
    gap: 10px;
    grid-template-areas:
    "HEADER HEADER HEADER"
    "NAV    MAIN   ASIDE"
    "FOOTER FOOTER FOOTER"
}

header {
    
    background-color: lightgray;
    padding: 10px;
    text-align: center;
}

footer {
    
    background-color: lightgray;
    padding: 10px;
    text-align: center;
}

header { grid-area: HEADER; }
nav { grid-area: NAV; }
main { grid-area: MAIN; }
aside { grid-area: ASIDE; }
footer { grid-area: FOOTER; }

body {
    margin: 0; }
