.container{
    display:grid;
    grid-template-columns: 1fr 4fr ;
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
    grid-template-areas:
    "header header"
    "nav nav"
    "aside main"
    "footer footer";
    max-width: 1000px;
    margin: 0 auto;
}
.box {
    border: 1px solid black;
    padding: 10px;
    background-color: lightblue;
}
header {
    grid-area: header;
    background-color: rgb(229, 255, 0);
    padding: 30px;
    text-align: center;
    padding-left: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
    
}
main {
    
    background-image: url("kratos.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;

    font-weight: bold;
    text-align: center;
    padding-top: 5em;
    padding-left: 3em;
    grid-area: main;
    
    padding-left: 1em;
   
}
aside {
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    text-align: center;
   
    padding-left: 3em;
    padding-top: 2em;
    grid-area: aside;
    background-color: rgb(250, 7, 47);
    padding: 10px;
}
footer {
    text-align: center;
    
    padding-top: 3em;
    padding-bottom: 3em;
    grid-area: footer;
    background-color: rgb(255, 166, 0);
    padding: 10px;
    
}
nav {
    grid-area: nav;
    background-color: rgb(19, 88, 216);
    display: flex;
    justify-content: center;
    gap: 2em;
    padding: 1em;
}

section button {
    padding: 2px;
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 2em;
}